.admin {
  color: #787878;

  a {
  color: rgb(120,120,120);
  transition: color .2s ease-out;

    &:hover {
      color: rgb(250,200,200);
    }
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: black;
    text-transform: uppercase;
    z-index: 999;

    nav {
      display: flex;
      font-size: 12px;
      padding: .5rem 2rem;

      a {
        color: white;
      }
    }
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    label {
      margin-bottom: .5rem;
    }

    span {
      font-size: 1rem;
    }

    img {
      width: auto;
    }
  }

  table {
    border: 1px solid black;
    font-size: 1.5rem;

    th {
      text-align: left;
    }

    th,
    td {
      padding: .5rem;
      border: 1px solid black;
    }
  }
}

.admin-abouts,
.admin-projects {
  font-size: 15px;

  .description {
    font-size: 20px;
    padding: 1rem;
    border: 1px solid #787878;

    p {
      margin-bottom: .5rem;
    }
  }
}

.admin-abouts {
  img {
    width: 100px;
  }
}

.admin-projects {
  #slides {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .project-slide {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    background: #effffd;
    width: 400px;

    h3 {
      margin-top: 0;
    }
  }

  .preview-img img {
    width: auto;
  }

  .badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    margin-top: -12.5px;
    margin-left: -12.5px;
    background: black;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
  }

  .delete-slide {
    font-size: 25px;
    line-height: normal;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1rem;
  }

  #links {
    flex: 1 0 100%;  
  }
}
