.admin {
  color: #787878;

  a {
  color: rgb(120,120,120);
  transition: color .2s ease-out;

    &:hover {
      color: rgb(250,200,200);
    }
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: black;
    text-transform: uppercase;

    nav {
      display: flex;
      font-size: 12px;
      padding: .5rem 2rem;

      a {
        color: white;
      }
    }
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    label {
      margin-bottom: .5rem;
    }

    span {
      font-size: 1rem;
    }

    img {
      width: auto;
    }
  }

  table {
    border: 1px solid black;
    font-size: 1.5rem;

    th {
      text-align: left;
    }

    th,
    td {
      padding: .5rem;
      border: 1px solid black;
    }
  }
}

.admin-abouts,
.admin-projects {
  font-size: 15px;

  .description {
    font-size: 20px;
    padding: 1rem;
    border: 1px solid #787878;

    p {
      margin-bottom: .5rem;
    }
  }
}

.admin-abouts {
  img {
    width: 100px;
  }
}

.admin-projects {
  .project-slide {
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: .5rem;

    h3 {
      margin-top: 0;
    }
  }

  .preview-img img {
    width: auto;
  }
}
